// Brytpunkter
//
// $min-extra-small - Mobiler
// $min-small - Ipad stående mm
// $min-medium - Ipad liggande, laptops med dålig upplösning
// $min-large - Större skärmar


$min-extra-small: 30em; //480px
$min-small: 48em; //768px
$min-medium: 62em; //992px
$min-large: 75em; //1200px