// Färger
$mn_color-black: #000000;
$mn_color-white: #ffffff;
$mn_color-almost-white: #eeeeee;
$mn_color-text: #333333;
$mn_color-header: #535353;
$mn_color-preamble: #222222;
$mn_color-cta: #125687;
$mn_color-cta-hover: #0a436d;
$mn_color-cta-pressed: #083454;
$mn_color-cancel: #776a64;
$mn_color-cancel-hover: #4f4642;
$mn_color-cancel-pressed: #4f4642;
$mn_color-dark-orange-darker: #8d2e02;
$mn_color-dark-orange-headline: #bf3d01;
$mn_color-dark-orange: #cc4202;
$mn_color-medium-dark-orange: #dc7244;
$mn_color-light-happy-orange: #f9cd99;
$mn_color-happy-orange: #f18700;
$mn_color-xlight-orange: #fef5e4;
$mn_color-nude-orange: #f8d8cb;
$mn_color-yellow-bg: #fff7df; //for tables
$pm-color-green: #afa500;
$pm-color-light-green: #f7f6e5;
$pm-color-dark-green: #545b20;
$mn_color-gray: #b9b1a8;
$mn_color-dark-gray: #71645f;
$mn_color-gray-divider: #d7d4cf;
$mn_color-error: #ac1a2f;
$mn_color-dark-cerise: #86004f;
$mn_color-cerise: #b9348a;
$mn_color-maroon: #d53044;
$mn_color-module: #f8f4f0;
$mn_color-module-light: rgba($mn_color-module, 0.6);
$mn_color-gray-bg: #e8e8e8;
$mn_color-blue-bg: #cbe3f5;
$mn_color-light-blue-bg: #dfeef9;
$mn_color_blue-border: #94c5e9;
$mn_color-focus: #00f5f5;
$mn_color-facebook: #3b5998;
$mn_color-linkedin: #0077b5;
$mn_color-twitter: #55acee;
$mn_color-google-plus: #c53929;


$mn_color-link: $mn_color-cta;
$mn_color-link-hover: $mn_color-cta-hover;
$mn_color-link-visited: $mn_color-dark-cerise;