@import './../src/css/main';

.mn_mishmash {
    &__trans {
        display: flex;
        justify-content: space-between;

        &-item {
            flex-grow: 1;
            flex-basis: auto;
            text-align: center;

            &-heading {
                margin: 0.5em 0;
            }

            &-content {
                display: flex;

                & div:first-child,
                & div:last-child {
                    flex-grow: 2;
                }
            }
        }
    }

    &__date-info-item {
        text-align: center;
    }
}