.mn_body {
  z-index: 1;
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: $mn_color-white;
}

.mn_modules {
  @include mn_base-container;
  @include mn_base-padding;
}

.mn_module {
  display: inline-block;
  width: calc(50% - 1.7em);
  vertical-align: top;
  margin-top: 1em;
  padding: 1em 0.5em;
  background-color: $mn_color-module;
  border: 1px solid $mn_color-gray;

  &:nth-child(2) {
    margin-left: 1em;
  }

  &__col {
    vertical-align: top;
  }

  &__left-col {
    display: inline-block;
    width: 50%;
    vertical-align: top;

    &--big {
      width: 80%;
    }
  }

  &__right-col {
    display: inline-block;
    width: 50%;
    vertical-align: top;

    &--small {
      width: 20%;
    }
  }
}

@include spinnerKeyframes('spinner', $mn_color-black, 1em);
.mn_spinner {
  display: inline-block;
  font-size: 0.4rem;
  width: 0.7em;
  height: 0.7em;
  margin: 0 1em;
  vertical-align: middle;
  border-radius: 50%;
  position: relative;
  animation: spinner 1.1s infinite ease;
}