.mn_body {
  z-index: 1;
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: $mn_color-white;
}

.mn_container {
  @include mn_base-container;
  @include mn_base-padding;
}

@include spinnerKeyframes('spinner', $mn_color-black, 1em);
.mn_spinner {
  display: inline-block;
  font-size: 0.4rem;
  width: 0.7em;
  height: 0.7em;
  margin: 0 1em;
  vertical-align: middle;
  border-radius: 50%;
  position: relative;
  animation: spinner 1.1s infinite ease;
}