// Divider
//
// Olika typer av avgränsare

// Divider
//
// Divider-1
//
// mn_divider-1 - avsgränsare/avskiljare variant 1
//
// markup:
//<div class='mn_divider-1 {$modifiers}'></div>

.mn_divider-1 {
    border-bottom: 1px solid $mn_color-gray-divider;
    width: 6em;
    margin: 0.4em auto 1.2em;

    @include mn_mq-gte-small {
        margin: 0.9em auto 1.6em;
    }
}