.mn_module-heading {
  margin-top: 0;
}

.mn_textfield,
.mn_select {
  display: block;
  width: 100%;
  border: 1px solid $mn_color-cta;
  margin-top: 0.2em;
  padding: .7em .4em;
  font-size: 1rem;

  &.mn_is-error {
    border-color: $mn_color-error;
  }
}

.mn_label {
  color: $mn_color-text;
  font-weight: 700;

  &--radio {
    margin-left: 0.5em;
    font-weight: normal;
  }
}

.mn_cta-button {
  @include mn_button;
  width: 100%;

  @include mn_mq-gte-small {
    width: 9em;
  }
}

.mn_next-button {
  @include mn_button;
  width: 100%;

  @include mn_mq-gte-small {
    width: 7em;
  }

  &::after {
    content: '\A0\203A';
  }
}

.mn_cancel-button {
  @include mn_link-cancel;
  display: block;
  width: 100%;
  margin: 0 0 1em;

  @include mn_mq-gte-small {
    display: inline-block;
    width: 7em;
    margin: 0 1em;
  }
}

.mn_back-link {
  @include mn_link-back;
}