.mn_modules {
    display: flex;
    justify-content: space-between;
    background-color: $mn_color-blue-bg;

    &__module {
        flex-grow: 1;
        flex-basis: auto;
        margin: 0.5em;

        &-item {
            margin-top: 0.5em;
            padding: 0.5em;
            background-color: $mn_color-module;
            border: 1px solid $mn_color-dark-blue-border;
            border-top: 3px solid $mn_color-dark-blue-border;
            color: $mn_color-dark-orange-darker;

            &:first-child {
                margin-top: 0;
            }

            & h1 {
                text-align: center;
                color: $mn_color-dark-orange-headline;
            }
        }
    }
}