$_col-12: 71.25rem;
$_col-8: 46.5625rem;
$_col-5: 28.5rem;

@mixin clearfix {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

@mixin mn_base-container {
  @include clearfix;
  margin-right: auto;
  margin-left: auto;
  max-width: $_col-12;
}

@mixin mn_base-container-8col {
  @include clearfix;
  margin-right: auto;
  margin-left: auto;
  max-width: $_col-8;
}

@mixin mn_base-container-5col {
  @include clearfix;
  margin-right: auto;
  margin-left: auto;
  max-width: $_col-5;
}

@mixin mn_base-padding {
  padding-left: 1rem;
  padding-right: 1rem;
}

@mixin mn_remove-base-padding {
  margin-left: -1rem;
  margin-right: -1rem;
}