@mixin _button-base {
  font-size: 1rem;
  font-weight: bold;
  padding: 0.75em 1em;
  display: inline-block;

  @include mn_mq-gte-xsmall {
    padding: 0.75em 1.5em;
  }

  &:hover {
    cursor: pointer;
  }
}

@mixin mn_button {
  @include _button-base;
  background-color: $mn_color-cta;
  border: none;
  color: $mn_color-white;

  &:hover {
    background-color: $mn_color-cta-hover;
  }

  &:active {
    background-color: $mn_color-cta-pressed;
  }
}

@mixin mn_button-secondary {
  @include _button-base;
  background-color: transparent;
  border: 1px solid $mn_color-cta;
  color: $mn_color-cta;

  &:hover {
    border-color: $mn_color-cta-hover;
    background-color: $mn_color-module-light;
  }

  &:active {
    border-color: $mn_color-cta-pressed;
    background-color: $mn_color-module-light;
  }
}

@mixin _link-color {
    color: $mn_color-link;

    &:hover,
    &:active {
        color: $mn_color-link-hover;
    }

    &:visited {
        color: $mn_color-link-visited;
    }
}

@mixin _link-underline {
    &:hover,
    &:active,
    &:focus {
        text-decoration: underline;
    }
}

@mixin _link-arrow {
    &::after {
        content: '\A0\203A';
    }
}

@mixin _link-arrow-back {
    &::before {
        content: '\A0\2039';
    }
}

@mixin mn_link-default {
    @include _link-color;
    @include _link-underline;
    @include _link-arrow;
}

@mixin mn_link-discrete {
    @include _link-arrow;
}

@mixin mn_link-back {
    @include _link-color;
    @include _link-underline;
    @include _link-arrow-back;
}

@mixin mn_link-cancel {
    text-decoration: none;
    background-color: $mn_color-cancel;
    border: 1px solid $mn_color-cancel;
    color: $mn_color-white;
    padding: 0.75em 1em;
    text-align: center;
    font-size: 1rem;

    @include mn_mq-gte-small {
        padding: 0.75em 1.5em;
    }

    &:hover {
        background-color: $mn_color-cancel-hover;
    }

    &:active,
    &:focus {
        background-color: $mn_color-cancel-pressed;
    }
}

@mixin mn_table {
    width: 100%;
    margin-top: 1em;
    border: 1px solid $mn_color-black;
}