@mixin _icon-base {
    font-family: 'ms-icons';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
    text-decoration: none;
    text-transform: none;
}

@mixin mn_icon {
    &::before {
        @include _icon-base;
    }
}

@mixin mn_icon-after {
    &::after {
        @include _icon-base;
    }
}

$mn_icon-alert: '\ea01';


@mixin mn_icon-alert {
    &::before {
        content: $mn_icon-alert;
    }
}